.earningscalcalc-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    background: var(--color-white);
    padding: .3rem 2rem;
    border-radius: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 1s ease-in-out;
}
.earncalc-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.earncalc-body{
    text-align: left;
}
.earncalc-body div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 1.1rem 0 ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.earncalc-btns{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
#close-btn{
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(131, 10, 10);
    cursor: pointer;
}