.home-container{
    padding: 0 2rem;
}
.home-header{
    padding: 1rem 0;
    border-bottom: 1px solid grey;
    width: 75vw;
}

.home-header span{
    
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--color-black);
    padding: 1rem 0;
}
.home-header span span{
    border-bottom: 3px solid var(--color-bg);
}